
header, body{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

  #tooltip {
    display: none;
    position: absolute;
  }

p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }

  #viz {
    width: 99.6%;
    position: relative;
  }